/*Basic style*/

body {
  font-family: 'Gilroy', sans-serif;
  color: $black-color;
}

.body-img{
  height: 792px;
  background: url(../assets/images/CTA\ Image.png) no-repeat center;
  background-size: cover;
}

.container {
  @include min-max(320px, 100%);
}

.wrap {
  @include min-max(320px, 1180px);
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

