.header {
  max-width: 1561px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  padding-top: 16px;
  position: relative;

  &__nav {
    display: flex;
    align-items: center;
  }

  &__list {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    gap: 30px;
  }

  &__item {
    font-weight: bold;
    font-size: 15px;
    line-height: 26px;
    letter-spacing: -0.1px;
  }

  &__link {
    color: $black-color;
    text-decoration: none;
    
    &:hover,
    &:focus,
    &:active {
      text-decoration: underline;
    }
  }

  &__button {
    margin-left: auto;
  }
}
